body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-size: 0.75rem;
    font-family: 'Kumbh Sans', sans-serif;;
}

main {
    max-width: 54rem;
    position: relative;
}

#card {
    display: flex;
    padding: 3rem 3rem 3rem 0;
    overflow: hidden;
    border-radius: 1rem;
    background-color: white;
}


img {
    display: block;
    max-width: 100%;
}

#image-container {
    z-index: 1;
    position: relative;
    flex-basis: 58%;
}

#that-box {
    position: absolute;
    top: 11.3rem;
    left: -5.5rem;
    z-index: 3;
}

#pattern {
    position: absolute;
    max-width: 55rem;
    top: -20rem;
    left: -33rem;
    z-index: -1;
}

#desktop {
    object-fit: cover;
    object-position: -5rem;
}

#faqs-container {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.faq {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    color: hsl(240, 6%, 50%);
    padding-bottom: 1rem;
}

h4 {
    font-weight: 400;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h4 > img {
    display: inline;
}

input[type=radio] {
    display: none;
}

.faq input[type=radio]:checked + label > h4{
    font-weight: bold;
    color: black;
    transition: .3s;
}

.faq input[type=radio]:checked + label > h4 > img{
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    transition: 1s;
}

.answer-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

.faq input[type=radio]:checked + label + .answer-container {
    max-height: 5rem;
    margin-top: 0rem;
}

@media (max-width: 900px) {
    main {
        max-width: 20rem;
    }

    #card {
        flex-direction: column;
        overflow: visible;
        justify-content: center;
        padding: 7rem 2rem 2rem 2rem;
    }

    img {
        max-width: 75%;
    }

    #pattern {
        max-width: 75%;
        top: 0;
        left: 0;
    }

    #image-container {
        position: absolute;
        top: -5.5rem;
        left: 4rem;
    }

    #that-box {
        max-width: 20%;
        top: -1.8rem;
        left: 4.3rem;
    }

    #desktop {
        object-position: 0;
    }

    #faqs-container {
        justify-content: baseline;
    }

    #faqs-container > h1 {
        text-align: center;
    }

    .faq {
        padding-top: 1rem;
    }
}

/*********/
.attribution { font-size: 11px; text-align: center; color:lawngreen; }
.attribution a { color: white; }